
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family: "Ubuntu", sans-serif;
  }
  header {
    background-color: rosybrown;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 500;
  }
  footer {
    background-color: rosybrown;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    z-index: 500;
  }
  a {
    text-decoration: none;
    color: black;
  }
  #Main {
    height: 100%;
    width: 100%;
    margin: 0px;
  }
  #logo {
    height: 60px;
    width: 60px;
    margin-left: 1%;
  }
  #loginButton {
    margin-right: 2%;
  }
  #social {
    margin-right: 2%;
  }
  #copyright {
    font-size: 14px;
  }
  #contactLink {
    margin-left: 2%;
  }
  .socialMedia {
    height: 20px;
    width: 22px;
  }
  #Main {
    display: none;
  }