.imageContainer {
  width: 70%;
}

.radissonImage {
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 20%;
}

.bookingFormDetails {
  width: 30%;
  border-left: 1px solid black;
}

.hotelDescription {
  margin: 1% 4% 2% 4%;
}

.formDetails {
  padding: 5%;
  display: flex;
  justify-content: space-between;

}

.container {
  display: flex;
  border: 1px solid black;
  max-height: 400px;
  margin: 30px;
}

form {
  margin: 20px;
}

.bookNow {
  padding: 5px;
  margin-left: 125px;
}

.inputBox {
  width: 60%;
}
#contactUs{
  background-color: rgb(29, 159, 235);
}