.flexcontainer {
  display: flexbox;
  align-content: space-around;
}

#content {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cityImage {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}

.cityCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2%;

}

.overlay {
  position: absolute;
  bottom: -14px;
  height: 150px;
  width: 150px;
  border-radius: 25%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  opacity: 0;
  font-size: 20px;

}

.overlay span {
  position: relative;
  justify-content: center;
  top: 50%;
}

.card:hover .overlay {
  opacity: 0.5;
}

#searchBar {
  background-color: #f1f1f1;
  border: 1px solid transparent;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14%;
  margin-bottom: 14%;
  margin-left: 34%;
  margin-right: 34%;
  width: 30%;
  outline: none;
}


#viewMore {
  display: flex;
  justify-content: center;
  color: black;

}
#contactUs{
  background-color: rgb(29, 159, 235);
}

