#loader{
  border: 12px solid #f3f3f3;
  width: 70px;
  border-color: #444444 #f3f3f3 #f3f3f3 #f3f3f3;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
  animation: spin 1s linear infinite;
}
@keyframes spin{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}