#imageHotel{
  height: 250px;
  width: 100%;
}
#hotel{
  display: flex;
  flex-direction: row;
  background-color: rgb(132,136,139);
  height: auto;
  width: 70%;
  margin: 2% auto;
}
#content{
  display: flex;
  flex-direction: column;
}
#hotelDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2%;
}
#payDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rosybrown;
  align-items: center;
  margin: 0 2% 20% 2%;
  border: 1px black solid;
  border-radius: 5px;
  padding: 1% 2%;
  height: auto;
}
#customerInfo {
  text-align: left;
}
strong {
  font-family: cursive;
}



@media only screen and (max-width: 575px) {
  #hotel {
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  #radissonHotel {
      width: 90%;
      padding-left: 5%;
      margin: 1%;
  }
  #hotelDetails {
      text-align: center;
  }
  #payDetails {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  }
  #payButton {
      align-self: center;
  }
}